                      /*UNIVERSAL STYLING*/
html,
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, 'sans-serif';
}
.container {
  display: flex;
}
.column {
  flex-direction: column;
}
.site-container {
  width: 960px;
}
.white-text {
  color: white;
}
                      /*MAIN BANNER & HEADER STYLING*/
.main-banner {
  background-image: url(../../resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 31rem;
  align-items: center;
}
header {
  justify-content: space-between;
  background-color: cadetblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
}
nav ul {
  margin-right: 2rem;
}
nav ul li {
  display: inline-block;
  margin-left: 2rem;
}
header a {
  display: none;
}
.brand {
  margin-left: 2rem;
}
.logo {
  height: 1.5rem;
  margin-right: 1rem;
}
#overlap-container {
  width: 1032px;
  margin-top: 10rem;
  justify-content: flex-end;
}
div.slogan {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
}
                                /*ICONS SECTION STYLING*/
.icons {
  justify-content: center;
  margin: 3rem 0;
}
.icons div {
  margin-right: 6rem;
}
.icons div img {
  width: 3.5rem;
}
div.icons .column {
  height: 8rem;
  align-items: center;
  justify-content: space-between;
}
div.exams,
div.fittings,
div.delivery {
  width: 5rem;
}
div.icons p {
  text-align: center;
}
                                  /*ABOUT SECTION STYLING*/
div.about {
  justify-content: center;
}
section {
  width: 35%;
  margin-bottom: 5rem;
}
section h3 {
  font-weight: bold;
  background-color: cadetblue;
  font-size: 1rem;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
}
.philosophy {
  margin-right: 5%;
}
                                  /*FOOTER SECTION STYLING*/
footer {
  background-color: azure;
  margin: 0 auto;
  padding: 4rem 0;
  align-items: center;
}
.footer-logo {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 4rem;
}
                                  /*RESPONSIVE STYLING*/
@media only screen and (max-width:960px) {
  .site-container {
    width: 100%;
  }
  header {
    margin-top: 0;
  }
  .main-banner {
    height: 22rem;
  }
  #overlap-container {
    margin-top: 5rem;
    max-width: 100%;
  }
  div.slogan {
    font-size: 1.33rem;
    line-height: 1.2;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
}
@media only screen and (max-width:670px) {
  .site-container {
    width: 100%;
  }
  header {
    margin-top: 0;
  }
  div.brand p,
  nav {
    display: none;
  }
  header a {
    display: block;
    color: white;
    text-decoration: none;
    margin-right: 2rem;
  }
  .main-banner {
    height: 17rem;
  }
  #overlap-container {
    margin-top: 9rem;
    width: 100%;
  }
  div.slogan {
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    margin-right: 0;
  }
  div.slogan h1 {
    text-align: center;
  }
  div.icons {
    flex-direction: column;
    align-items: center;
  }
  .icons div {
    margin-right: 0;
  }
  div.exams {
    margin-bottom: 1.54rem;
  }
  div.delivery {
    margin-top: 1.54rem;
  }
  .icons {
    margin: 3.77rem 0;
  }
  div.about {
    flex-direction: column;
  }
  div section,
  section h3 {
    /*width: 100%;*/
  }
  section {
    width: 100%;
  }
  section h3 {
    text-align: center;
    width: auto;
    border: 1px solid red;
  }
  section p {
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 0.33rem;
    font-size: 0.77rem;
  }
  footer p {
    display: none;
  }
  footer {
    justify-content: center;
    width: 100%;
  }
  .footer-logo {
    margin: 0 auto;
  }
}
